body{
 margin:0;
 font-family: 'Open Sans', sans-serif;
}
.container{
	width: 80%;
	margin: 0 auto;
}
.full{
 width:100%;
}
.sectionPadding{
 padding:50px 0px;
}
.clear{
 clear:both;
}
.marginRight{
	margin-right: 24px;
}
#wrapper{
	height: 1024px;
	background:url(../images/header.jpg);
	background-size: cover;
}
#wrapper .header{
	margin: 0 auto;
	width: 80%;
	height: 90px;
	background: white;
	border-top: 5px solid #bce623;
}
#wrapper .wrapperItems .main{
	width: 80%;
	height: 200px;
	background: white;
	text-align: center;
	margin: 0 auto;
}
#wrapper .wrapperItems .main p{
	line-height: 24px;
    font-size: 16px;
    color: #a59e8d;
}
#wrapper .wrapperItems .main .navBar{

}
#wrapper .wrapperItems .main .navBar{
	margin-top: 40px;
}
#wrapper .wrapperItems .main ul{
	list-style-type: none;
}
#wrapper .wrapperItems .main li{
	display: inline-block;
	line-height: 24px;
	color: #746e5d;
	margin: 0px 30px;
	font-size: 20px;
	transition: all 0.3s ease;
}
#wrapper .wrapperItems .main li:first-child{
	color: #bce623;
}
#wrapper .wrapperItems .main li:hover{
	color: #bce623;
	cursor: pointer;
}
#wrapper .wrapperItems .img{
	width: 80%;
	margin: 0 auto;
	background-size: cover;
	padding-bottom: 40px;
}
#wrapper .wrapperItems .img img{
	width: 100%;
}
#wrapper .wrapperItems .apartments{
	width: 80%;
	margin: 0 auto;
	height: 250px;
}
#wrapper .wrapperItems .apartments .item{
	width: calc(33.33% - 19px);
	height: 340px;
	background: white;
	display: inline-block;
	background-size: cover;
	text-align: center;
}
#wrapper .wrapperItems .apartments .item img{
	width: 100%;
}
#wrapper .wrapperItems .apartments .item h1{
	margin-top: 30px;
    font-size:30px;
    color: #d2c970;
    font-family: 'Open Sans', sans-serif;

}
#wrapper .wrapperItems .apartments .item p{
	color: #b2ad9d;
	font-size: 18px;
}
#search{
	background-color: #f1f1e6;
	height: 600px;
}
#search .container{
	mar
}
#search .container .firstItem{
	width: 100%;
	margin: 0 auto;
	height: 80px;
	margin-top: 110px;
	background: white;
	position: relative;
}
#search .container .firstItem .first {
	width: 30%;
	position: absolute;
}
#search .container .firstItem .first h1{
	margin: 25px;
	display: inline-block;
	font-size: 30px;
	color: #5d5d52;
}
#search .container .firstItem .second{
	width: 70%;
	float: right;
	margin-top: 10px;
	

}
.second .input1{
	float: left;
	width: 80%;
	height: 60px;
	border: 2px solid #f1f1e6;
}
.second .input2{
	margin-right: 20px;
	float: right;
	width: 17%;
	height: 60px;
	background-color: #bce623;
	color: white;
	text-align: center;
	font-size: 20px;
	transition: all 01s ease;
}
.second .input2:hover{
	background: #616156;
	cursor: pointer;
}
#search .container .secondItem{
	width: 100%;
	margin: 0 auto;
	height: 180px;
	margin-top: 50px;
}
#search .container .secondItem .item h1{
	color: #584a3e;
	font-size: 30px;
	font: normal 40px/50px Open Sans;

}
#search .container .secondItem .item h5{
	color: #A69C7F;
	font-size: 20px;

}
#search .container .secondItem .item p{
	color: #6A6A60;
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
}
#search .container .secondItem .item button{
	width: 85px;
	height: 42px;
	background: #6B5F53;
	cursor: pointer;
	text-align: center;
	color: white;
	font-size: 15px;
	text-transform: uppercase;
}
#search .container .secondItem .first {
	float: left;
	width: 50%;

}
#search .container .secondItem .second {
	float: right;
	width: 50%;
}
#booking{
	background:url(../images/parallax1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 450px;
}
#booking .container .bookItem{
	margin: 0 auto;
	width: 830px;
	height: 330px;
	background: rgba(0,0,0,.3);
	margin-top: 30px;
	cursor: pointer;
	transition: background .5s ease;
	text-align: center;
}
#booking .container .bookItem:hover{
	background: #000;
}
#booking .container .bookItem a{
	text-decoration: none;
}
#booking .container .bookItem h1{
	text-align: center;
	height: 180px;
	margin: 0;
    font-size: 150px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}
#booking .container .bookItem span{
	line-height: 100px;
	font-size: 70px;
    font-weight: bold;
    color: white;    
}
#booking .container .bookItem em{
	line-height: 100px;
	font-size: 70px;
    font-weight: bold;
    color: #A8D700;
    font-style: initial;
    margin: 10px;
}
#service{
	background: #F1F1E6;
	height: 700px;
	text-align: center;
}
#service .container h1{
	font: normal 45px/55px Open Sans;
    color: #584a3e;
}
#service .container ul{
	list-style-type: none;
}
#service .container ul li{
	margin: 4px;
	display: inline-block;
	width: 145px;
	height: 40px;
	background: #6B5F53;
	color: white;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	transition: all .5s ease;
}
#service .container ul li:first-child{
	background: #A8D700;
}
#service .container ul li:hover{
	background: #A8D700;
}
#service .container .img .imgItem{
	width: calc(25%-10);
	display: inline-block;
	margin: 10px;
}
