body{
 margin:0;
}
.container{
	width: 80%;
	margin: 0 auto;
}
.full{
 width:100%;
}
.sectionPadding{
 padding:50px 0px;
}
.clear{
 clear:both;
}
.marginRight{
	margin-right: 24px;
}
#wrapper{
	height: 1024px;
	background:url(../images/header.jpg);
	background-size: cover;
}
#wrapper .header{
	margin: 0 auto;
	width: 80%;
	height: 90px;
	background: white;
	border-top: 5px solid #bce623;
}
#wrapper .wrapperItems .main{
	width: 80%;
	height: 200px;
	background: white;
	text-align: center;
	margin: 0 auto;
}
#wrapper .wrapperItems .main p{
	line-height: 24px;
    font-size: 16px;
    color: #a59e8d;
}
#wrapper .wrapperItems .main .navBar{

}
#wrapper .wrapperItems .main .navBar{
	margin-top: 40px;
}
#wrapper .wrapperItems .main ul{
	list-style-type: none;
}
#wrapper .wrapperItems .main li{
	display: inline-block;
	line-height: 24px;
	color: #746e5d;
	margin: 0px 30px;
	font-size: 20px;
	transition: all 0.3s ease;
}
#wrapper .wrapperItems .main li:first-child{
	color: #bce623;
}
#wrapper .wrapperItems .main li:hover{
	color: #bce623;
	cursor: pointer;
}
#wrapper .wrapperItems .img{
	width: 80%;
	margin: 0 auto;
	background-size: cover;
	padding-bottom: 40px;
}
#wrapper .wrapperItems .img img{
	width: 100%;
}
#wrapper .wrapperItems .apartments{
	width: 80%;
	margin: 0 auto;
	height: 250px;
}
#wrapper .wrapperItems .apartments .item{
	width: calc(33.33% - 19px);
	height: 330px;
	background: white;
	display: inline-block;
	background-size: cover;
	text-align: center;
}
#wrapper .wrapperItems .apartments .item img{
	width: 100%;
}
#wrapper .wrapperItems .apartments .item h1{
	margin-top: 30px;
    font-size:30px;
    color: #d2c970;
}
#wrapper .wrapperItems .apartments .item p{
	color: #b2ad9d;
	font-size: 18px;
}
#search{
	background-color: #f1f1e6;
	height: 600px;
}
#search .container .firstItem{
	width: 100%;
	margin: 0 auto;
	height: 80px;
	margin-top: 80px;
	background: white;
}
#search .container .firstItem .first h1{
	margin: 25px;
	display: inline-block;
	font-size: 30px;
	color: #5d5d52;
}
#search .container .firstItem .second{
	position: relative;
}
.second .input1{
	margin: 25px 25px;
	position: absolute;
	width: 40%;
	height: 50px;
	border: 2px solid #f1f1e6;
}
.second .input2{
	width: 8%;
	height: 50px;
	position: absolute;
}